# database credentials
POSTGRES_USER=dummyuser
POSTGRES_PASSWORD=dummypassword
POSTGRES_PORT=5432
POSTGRES_HOST=0.0.0.0
DATABASE=nameofdatabase

# port of the api
API_PORT=8000

# links where to download files to be loaded into the database when instantiating the database
ELECTRICITY_PRODUCTION_TABLE_URL=https://my.online.storage/dummy123
GWR_TABLE_URL=https://my.online.storage/dummy321
HEATING_INFO_TABLE_URL=https://my.online.storage/dummy231


